<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFileCollectorService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2010/FileCollectorService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileCollectorService"
                contract="FileCollectorServiceReference.IFileCollectorService"
                name="BasicHttpBinding_IFileCollectorService" />
        </client>
    </system.serviceModel>
</configuration>